---
import MainLayout from '../layouts/MainLayout.astro';
---

<MainLayout
  title="Diana Catalina Olarte"
  description="Welcome to my portforlio - dcoa"
>
  <div class="h-screen">hola</div>
  <div class="h-screen">second</div>
</MainLayout>
