@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    @apply overflow-scroll text-neutral-800  scroll-smooth snap-y snap-mandatory
}
body::-webkit-scrollbar {
    display: none;
  }
.nav-bar-link {
    @apply cursor-pointer hover:border-b border-green-500 focus:text-transparent bg-clip-text bg-gradient-to-l from-blue-400 to-green-500
}

.svg_bg {
    @apply bg-blue-50
}

.section_title {
    @apply absolute bg-clip-text bg-gradient-to-l from-blue-400 to-green-500 text-5xl text-transparent top-24 uppercase md:align-top
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
    display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

